

body {
    font-family: 'Roboto', sans-serif; /* Ou 'Montserrat' */
    text-align: center;
    margin: 0;
    padding: 0;   
   background-color: #c0c1c7;
}
header {
    background-color: #424444; /* Azul Escuro */
    padding: 20px;
    color: #2498e6; /* Amarelo */
}
header p {
    font-size: 1.3em;
}
#menu {      
    font-size: 1.1em;
    font-weight: bold;
    padding: 10px; 
}

#endereco {
    text-align: left;
    margin-left: 15px;
    
    border: 2px solid #828286;
    padding: 10px;
    border-radius: 8px;
    
    width: 250px;
    
   
}

#endereco a {
    text-decoration: none;
    color: black;
}

#menu a {    
    color: #292f30;
    text-decoration: none;
    margin: 0 15px;
}
#present-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.present-group {
    margin-top: 30px;
}

.present-item {
    text-align: center;
    border: 2px solid #1A237E;
    padding: 10px;
    border-radius: 8px;
    transition: box-shadow 0.3s;
    width: 300px;
    margin-bottom: 20px;
    background-color: #fff;
}

.present-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.present-item a {
    text-decoration: none;
    color: #333;
}

.present-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.present-item p {
    margin: 10px 0;
}

h1, h2 {
    font-size: 2em;
    margin-top: 20px;
}
.mostrar{
    display: none;   
}
