#endereco {
    text-align: left;
    margin-left: 15px;}

/*h1, h2 {
    font-size: 1.5em;
    margin-top: 20px;
}*/

body {
    font-family: 'Roboto', sans-serif; /* Ou 'Montserrat' */
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #E0E0E0; /* Cinza Claro */
}
header {
    background-color: #414bb4; /* Azul Escuro */
    padding: 20px;
    color: #e7c725; /* Amarelo */
}
#menu {
   
    color: #414bb4;
    padding: 10px;
 /*  position: absolute;
    top: 100px;
    left: 0;
    right: 0;*/ 
}
#menu a {
    color: #FFD600;
    text-decoration: none;
    margin: 0 15px;
}

#present-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.present-group {
    margin-top: 30px;
}

.present-item {
    text-align: center;
    border: 2px solid #1A237E;
    padding: 10px;
    border-radius: 8px;
    transition: box-shadow 0.3s;
    width: 300px;
    margin-bottom: 20px;
    background-color: #fff;
}

.present-item:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.present-item a {
    text-decoration: none;
    color: #333;
}

.present-item img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.present-item p {
    margin: 10px 0;
}

h1, h2 {
    font-size: 2em;
    margin-top: 20px;
}